:root {
    --green: #ABBE40;
    --red: #A41B20;
    --white: whitesmoke;
    --black: black;

    --normal-font: Arial, Helvetica, sans-serif;
    --title-font: Arial, Helvetica, sans-serif;
}

* {
    background-color: white;
}

body {

}

#logo {
    float: left;
    padding-right: 10%;
}

.topnav {
    top: 0;
    width: 100vw;
    height: 120px;
    background-color: var(--white);
    overflow: hidden;
    position: fixed;
    z-index: 100;
    font-family: var(--title-font), serif;
}

/* Style the links inside the navigation bar */
.topnav a {
    position: relative;
    top: 25px;
    float: left;
    color: var(--black);
    text-align: center;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-right: 1%;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: var(--white);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: var(--red);
    color: var(--white);
}

#header {
    position: fixed;
    top: 0;
    height: 20vh;
    background-color: var(--white);
    z-index: 100;
}

.transparent {
    background-color: transparent;
}


#einverstaendniserklaerung {
    position: relative;
    height: 5vh;
    top: 40%;
    width: 80%;
    margin: 5%;
    font-size: small;
    font-weight: lighter;
}


#einverstaendniserklaerung > .button-text {
    text-align: center;
}

#contact-text {
    font-family: var(--normal-font), serif;
}

#contact-info {
    width: 40%;
    position: relative;
    padding-left: 10%;
}

.contact-title {
    font-family: var(--title-font), serif;
    color: var(--red);
    font-weight: lighter;
    text-align: left;
}

#contact {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    text-align: center;
}

#contact-description {
    font-family: var(--normal-font), serif;
    color: var(--black);
}

#contact-title {
    font-family: var(--title-font), serif;
    font-weight: lighter;
    color: var(--red);
}

.schwerpunkte-line-padding {
    width: 2px;
}

#contact-stuff > .vertical-line {
    width: 2px;
    align-self: normal
}

#schwerpunkte-wrapper > .vertical-line {
    width: 2px;
    align-self: normal
}

#schwerpunkte {
    padding-top: 5%;
}

#schwerpunkte-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120%;
}

.schwerpunkte-list {
    font-family: var(--normal-font), serif;
    width: 40%;
}

#schwerpunkte-left {
    position: relative;
    right: 2%;
}

#schwerpunkte-right {
    position: relative;
    left: 2%;
}

#schwerpunkte-header {
    font-family: var(--title-font), serif;
    text-align: center;
}

#schwerpunkte-description {
    font-family: var(--normal-font), serif;
    text-align: center;
    line-height: 150%;
}

#background {
    position: fixed;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    z-index: -100;
}

#meine-praxis {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
}

#meine-praxis-header {
    color: var(--red);
    font-family: var(--title-font), serif;
}

#meine-praxis-text {

}

#introduction-text {
    padding-top: 5%;
    text-align: center;
}

#stellenanzeige {
    padding-top: 10%;
    width: 50%;
    left: 25%;
    position: relative;
}

#page {
    display: flex;
    flex-direction: column;
    width: 100%;
    right: 0;
    position: absolute;
    background-color: transparent;
}

#intro-div {
    padding-top: 10vh;
    width: 100%;
    height: 50vh;
    display: flex;
}

#intro-green-square {
    left: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#intro-text {
    position: relative;
    top: 40%;
    font-family: var(--title-font), serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    padding-left: 5%;
    height: 20%;
    width: 75%;
}

#intro-termin-button {
    position: relative;
    height: 10%;
    top: 40%;
    width: 40%;
    margin: 5%;
    border-radius: 5%;
}

.button-text {
    color: var(--white);
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    top: 25%;
    font-family: var(--normal-font), serif;
    font-size: 125%;
    background-color: transparent;
    text-decoration: none;
}

.button:hover > .button-text {
    color: var(--red);
}

.button:hover > .button-text > .button-text {
    color: var(--red);
}

.button {
    background-color: var(--red);
}

.button:hover {
    background-color: white;
}

#intro-image {
    width: 50%;
    object-fit: cover;
    overflow: hidden;
}

.green {
    background-color: var(--green);
}

.red {
    background-color: var(--red);
}

.text-normal {
    line-height: 150%;
    color: var(--black);
    font-family: var(--normal-font), serif;
    font-size: large;
}

.nofancy {
    text-decoration: none;
}