* {
    --font-color: #000000;
    --font-hover-color: #999999;
    --main-color: rgb(187, 225, 250);
    --second-color: rgb(171, 223, 255);
    --third-color: rgb(154, 215, 255);
    --fourth-color: rgb(163, 217, 250);
    --navbar-color: rgba(0, 0, 0, 0.25);
    --alternate-navbar-color: rgb(200,230,255);
    --end-color: rgb(219, 230, 255);
    margin:0;
    padding:0;

    overflow-x: hidden;
}

.hidden {
    visibility: hidden;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: var(--end-color);
}

h3 {
    font-size:40px
}
h4 {
    font-size:30px
}

h5 {
    font-size:20px
}

.material-symbols-outlined {
    color: var(--font-color);
    overflow:hidden;
}
.align-center {
    display: flex;
    justify-content: center;
    align-items: center
}
.layer {
    height: 100vh;
}
.spacer {
    z-index: -1;
    background-color: var(--main-color);
}
.scroll {
    z-index: -1;
    background-color: var(--main-color);
}


.container {
	width: 95%;
	margin: 0 auto;
}

header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100vw;
  background: var(--alternate-navbar-color);
  height: 80px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
    color: var(--font-color);

    font-size:xxx-large;
    float: left;
    font-weight: 500;
    padding-top: 10px

}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 6vw;
  padding-top: 20px;
  position: relative;
}

nav a {
  color: var(--font-color);;
  text-decoration: none;
  text-transform: uppercase;
  font-size: xx-large;
}

nav a:hover {
  color: var(--font-hover-color);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: var(--font-color);;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.block {
    text-align:center;
    display:block;
}

.projects {
    background-color: var(--third-color);
}

.contact {
    background-color: var(--fourth-color);
}
.me_header{
    color: var(--font-color);
    font-size: 3.5vw;
}

.me_text {
    color: var(--font-color);
    font-size: 2.5vw;
    padding-left: 10%;
    padding-right: 10%;
}


.photo-box {
    width: 100vw;
    height: auto;
    padding-top: 5%;
    padding-bottom: 2.5%;
}
.photo {
    width: 20vw;
    height: 20vw;
    margin-left: 5%;
    box-shadow: 5px 5px 5px black;
    transition: transform 0.5s;
}

.photo:hover {
    transform: scale(1.2);

}


.photos {
    width: 100vw;
    height: 100vh;
}

.photo-display {

    height: 450px;
    width: 800px;
}

/* relevant styles */
.img-wrap {
    position: relative;
    top: 10vh;
    margin: 1% 1% 1% 10%;
    height: auto;
    width: 800px;
    overflow: hidden;
}

.img-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    text-align: left;
    font-size: larger;
    z-index: 1;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    height: 450px;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
}
.img-wrap:hover .img-background {
    visibility: visible;
    opacity: 1;
}