:root {
    --green: #ABBE40;
    --red: #A41B20;
    --white: whitesmoke;
    --black: black;

    --normal-font: Arial, Helvetica, sans-serif;
    --title-font: Arial, Helvetica, sans-serif;
}

#introduction-text {
    padding-top: 5%;
    text-align: center;
}

#stellenanzeige {
    padding-top: 10%;
    width: 50%;
    left: 25%;
    position: relative;
}

#page {
    display: flex;
    flex-direction: column;
}

#intro-div {
    padding-top: 10vh;
    width: 100%;
    height: 50vh;
    display: flex;
}

#intro-green-square {
    left: 50%;
    width: 50%;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
}

#intro-text {
    position: relative;
    top: 40%;
    font-family: var(--title-font), serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    margin-left: 5%;
    height: 20%;
    width: 75%;
}

#intro-termin-button {
    position: relative;
    height: 10%;
    top: 40%;
    width: 40%;
    margin: 5%;
    border-radius: 5%;
    align-self: flex-start;

}

.button > .button-text {
    color: var(--white);
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    top: 25%;
    font-family: var(--normal-font), serif;
    font-size: 125%;
}

.button:hover > .button-text {
    color: var(--red);
}

.button {
    background-color: var(--red);
}

.button:hover {

    background-color: white;
}

#intro-image {
    width: 50%;
    object-fit: cover;
    overflow: hidden;
}

.green {
    background-color: var(--green);
}

.text-normal {
    line-height: 150%;
    color: var(--black);
    font-family: var(--normal-font), serif;
    font-size: large;
}